:root {
  --bgC: rgba(50, 51, 119, 0.5);
  --bigTitleText:#524f81;
  --mainTitleHeight:4em;
}

.mainTitle{
	text-align:center;
	text-decoration: none;
	padding: 0px;
}
#mainTitleBox{
	background-color: rgba(255,255,255,0.3);
	width: 16em; 
	display: inline-block;
	margin-bottom: 1em;
	border-top-right-radius: 80px;
	border-top-left-radius: 80px;
}
.mainTitle div{
	height: var(--mainTitleHeight);
}
.mainTitle h1{
	color:rgb(69,73,78);
	margin: 0;
	line-height: 1.3em;
	font-family: 'Chakra Petch', sans-serif;
	font-weight: 900;
}
.mainTitle a{
	text-decoration: none;
	font-family: 'Teko', sans-serif;
}
.mainTitle hr{
	width: 5em;
	border-width: 1px;
	border-color: rgba(50, 51, 119, 0.5);
}
body{
	background-image: url("file:///D:/programming/xampp/htdocs/docs/resource/background.svg");

    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center center; 
}

#svgContainer{
	 position: relative;
}
#verticleLineSVGBox{
	width: 100%;
 position: absolute;

}
#verticleLine{
	display: absolute;
	  stroke: rgb(69,73,78); stroke-width:0.8
}

.branch{
	width: 50%;
}
#leftBranch{
	float:left;
	text-align:right;
}
#rightBranch{
	float: right;
}

#projectLeaf{
	padding-left: 10%;
	padding-right:10%;
	background-color: rgba(255,255,255,0.3);
	border-bottom: 3px solid rgb(69,73,78);;
}

#projectLeafSpace{
	height: 20%;
}